.set {
     width: 100vw;
    height: 100vh !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    

    background-size: contain;
    /* margin-top: 300px; */
}